<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<p th:text="${person.name}">VALUE</p>
<p th:text="${person.email}">VALUE</p>
<hr/>
<a th:href="@{/people/{id}/edit(id=${person.id})}">Edit</a>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.id})}">
    <input type="submit" value="Delete">
</form>

</body>
</html>